p{
  margin: 0;
}
.content{
  margin: 0 auto;
}
h1{
  text-align: center;
}
.namecard{
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
  border-radius: 8px;
  padding: 8px;
  margin: 0 20px;
}
.namecard img{
  width:65px;
  height: auto;
  border-radius: 50%;
  float: left;
}
.first-line{
  overflow: hidden;
}
.namecard-info{
  margin-left: 16px;
  display: block;
  float: left;
}
.cocorocount{
  overflow: hidden;
  margin-top: 60px;
}
.cocoro-btn{
  float: left;
  margin-left: 20px;
}
.btn-text{
  font-size: 10px;
  text-align: center;
  width: 70px;
}
#btn{
  border-radius: 50%;
  height: 56px;
  width: 56px;
  border-style: none;
  background-color: #D8D8D8;
}
.cocoronumber{
  width: 200px;
  text-align: right;
  margin-left: auto;
  margin-right: 20px;
}
